aiobotocore
aioredlock
aiosu
akatsuki-pp-py
asyncpg
bcrypt
databases
email_validator
Faker
fastapi
httpx
orjson
pillow
py3rijndael
python-dotenv
python-json-logger
python-multipart
redis
structlog
uvicorn
